body {
    background: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

.nossa.história {
    background: #fff;
    padding: 15px;
}

.nossa.história p {
    margin: 0 0 10px;
    text-align: justify;
}
