body {
    background: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

.visão {
    background: #fff;
    padding: 15px;
}

.visão2 {
    margin: 0;
    text-align: justify;
}
